.vscode/**
.github/**
src/**
docs/**
scripts/**
**/*.ts
**/*.map
**/*.test.ts
.gitignore
tsconfig.json
vitest.config.ts
node_modules/**
!node_modules/sql.js/package.json
!node_modules/sql.js/dist/sql-wasm.js
!node_modules/sql.js/dist/sql-wasm.wasm
!media/**
!out/**
**/*.map
